﻿<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@Page.Title - INWEB.NET</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet">

        <link rel="stylesheet" href="Content/bootstrap.min.css">
        <link rel="stylesheet" href="Content/normalize.min.css">
        <link rel="stylesheet" href="Content/font-awesome.min.css">
        <link rel="stylesheet" href="Content/animate.css">
        <link rel="stylesheet" href="Content/templatemo_misc.css">
        <link rel="stylesheet" href="Content/templatemo_style.css">

        <script src="Scripts/vendor/modernizr-2.6.2.min.js"></script>
        <meta name="viewport" content="width=device-width" />




    </head>
<body style="background-color:#D8F6CE">
    <header>
          
        <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a

       href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div id="front">
            <div class="site-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <div id="templatemo_logo">
                                <h1><a href="~/">INWEB.NET</a></h1>
                            </div> <!-- /.logo -->
                        </div> <!-- /.col-md-4 -->
                        <!--Menu y submenu-->
                        @*<div class="col-md-6 col-sm-6 col-xs-6">
              <!--  <a href="~/Default" class="toggle-menu"><i class="fa fa-bars"></i></a>-->
                <div class="main-menu">
                    <nav>
                        <ul>
                            <li><a href="~/">Inicio</a></li>
                            <li><a href="#services">Servicios</a></li>
                            <li><a href="#contact">Contactenos</a></li>

                        </ul>
                    </nav>
                </div> <!-- /.main-menu -->
            </div> <!-- /.col-md-8 -->*@

                        @*<nav>
                <ul id="menu">
                    <li><a href="~/">Inicio</a></li>
                    <li><a href="~/Servicios">Servicios</a></li>
                    <li><a href="~/Contacto">Contactenos</a></li>

                </ul>
            </nav>*@



                        <!--validacion de inicio de sesion y registro-->
                        <div class="col-md-8 col-sm-6 col-xs-6">
                            <div class="float-right">
                                <section id="login">
                                    @if (WebSecurity.IsAuthenticated)
                                    {
                                        <text>
                                            ¡Hola, <a class="email" href="~/Manage" title="Manage">@WebSecurity.CurrentUserName</a>!
                                            <form id="logoutForm" action="~/Logout" method="post">
                                                @AntiForgery.GetHtml()
                                                <a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
                                            </form>
                                        </text>
                                    }
                                    else
                                    {
                                        <text>
                                            <a href="~/Register">Registrar</a>
                                            <a href="~/Login">Iniciar sesión</a>
                                        </text>
                                        <!--<ul>
                            <li><a href="~/Account/Register">Registrar</a></li> <li><a href="~/Account/Login">Iniciar sesión</a></li>

                        </ul>-->

                                    }
                                </section>

                            </div>
                        </div>

                        <!--MENU DE INWEB.NET-->
                       
                                <div class="navbar-collapse collapse" id="navbar-main">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a href="~/">Inicio</a></li>
                                        <li><a href="~/Servicios">Servicios</a></li>
                                        <li><a href="~/Contacto">Contactenos</a></li>

                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown">Empresa<span class="caret"></span></a>
                                            <ul class="dropdown-menu" aria-labelledby="themes">
                                                <li><a href="~/gestionar_empresa">Gestionar Empresa</a></li>
                                                <li><a href="~/crear_empresa">Crear Empresa</a></li>
                                                <li><a href="~/crear_tipo_empresa">crear Tipo Empresa</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown">Producto<span class="caret"></span></a>
                                            <ul class="dropdown-menu" aria-labelledby="themes">
                                                <li><a href="~/gestionar_producto">Gestionar Producto</a></li>
                                                <li><a href="~/crear_producto">Crear Producto</a></li>
                                                <li><a href="~/crear_tipoproducto">Crear Tipo Producto</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown">Proveedor<span class="caret"></span></a>
                                            <ul class="dropdown-menu" aria-labelledby="themes">
                                                <li><a href="~/gestionar_proveedor">Gestionar Proveedor</a></li>
                                                <li><a href="~/crear_proveedor">Crear Proveedor</a></li>
                                                <li><a href="~/crear_tipoproveedor">Crear Tipo Proveedor</a></li>
                                            </ul>
                                        </li>

                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown">Cliente<span class="caret"></span></a>
                                            <ul class="dropdown-menu" aria-labelledby="themes">
                                                <li><a href="~/gestionar_cliente">Gestionar Cliente</a></li>
                                                <li><a href="~/crear_tipocliente">Crear Tipo Cliente</a></li>
                                                
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                            </div> <!-- /.row -->
                            <!--  <div class="row">
                  <div class="col-md-12">
                      <div class="responsive">
                          <div class="main-menu">
                              <ul>
                                  <li><a href="#front">Inicio</a></li>
                                  <li><a href="#services">Servicios</a></li>
                                  <li><a href="#contact">Contactenos</a></li>

                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              -->

                        </div> <!-- /.container -->
                    </div> <!-- /.site-header -->
        </div> <!-- /#front -->
    </header>


    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>

    <footer>
        <div class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <span>
                            Copyright &copy; 2015 <a href="http://www.desarrolloweb.com/" target="_blank">Developers world</a>
                        </span>
                        <span>Diseñado por: <a href="https://plus.google.com/u/0/116586986162089632869/posts" target="_blank">Ing. Jorge David Antury Jaramillo</a>, <a href="http://www.templatemo.com" target="_blank">Ing. Leidy Viviana Figueroa</a></span>

                    </div> <!-- /.col-md-6 -->
                    <div class="col-md-6 col-sm-6">
                        <ul class="social">
                            <li><a href="https://www.facebook.com/" target="_blank" class="fa fa-facebook"></a></li>
                            <li><a href="https://twitter.com/?lang=es" target="_blank" class="fa fa-twitter"></a></li>
                            <li><a href="https://instagram.com/" target="_blank" class="fa fa-instagram"></a></li>
                            <li><a href="https://co.linkedin.com/" target="_blank" class="fa fa-linkedin"></a></li>
                           
                        </ul>
                    </div> <!-- /.col-md-6 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.site-footer -->
    </footer>

    @RenderSection("Scripts", required: false)

    <script src="Scripts/vendor/jquery-1.10.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="Scripts/vendor/jquery-1.10.1.min.js"><\/script>')</script>
    <script src="Scripts/jquery.easing-1.3.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <script src="Scripts/plugins.js"></script>
    <script src="Scripts/main.js"></script>
    <!-- templatemo 401 sprint -->

</body>
</html>