﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Pagina Inicio";
}

@section featured {

}

<div id="contact" class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="section-title">Contactenos</h1>
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center bigger-text">
                <p>¡Hola! Contactenos por este medio, envienos sus sugerencias, quejas y reclamos. Muchas gracias. </p>
            </div>
            <div class="col-md-6 col-sm-6">
                <div id="map">
                </div>
            </div> <!-- /.col-md-6 -->
            <div class="col-md-6 col-sm-6">

                <div class="row contact-form">

                    <fieldset class="col-md-6 col-sm-6">
                        <input id="name" type="text" name="name" placeholder="Nombre">
                    </fieldset>
                    <fieldset class="col-md-6 col-sm-6">
                        <input type="email" name="email" id="email" placeholder="Correo">
                    </fieldset>
                    <fieldset class="col-md-12">
                        <input type="text" name="subject" id="subject" placeholder="Tema">
                    </fieldset>
                    <fieldset class="col-md-12">
                        <textarea name="comments" id="comments" placeholder="Mensaje"></textarea>
                    </fieldset>
                    <fieldset class="col-md-12">
                        <input type="submit" name="send" value="Enviar Mensaje" id="submit" class="button">
                    </fieldset>

                </div> <!-- /.contact-form -->

            </div> <!-- /.col-md-6 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /#products -->