﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Pagina Inicio";
}

@section featured {

}





<div id="login" class="content-section">
    <!--crear producto-->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="section-title">Crear Producto</h1>
            </div> <!-- /.col-md-12 -->

        </div> <!-- /.row -->
        <div class="well" style="max-width: 700px; margin: auto; background-color: #D8F6CE;">
            <form class="bs-example form-horizontal" action="index.aspx?controller=Producto&action=Agregar" method="post">
                <fieldset>
                    <legend>Información producto:</legend>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Marca</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="marca" placeholder="Ej: ROA" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Nombre</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="nombre" placeholder="Ej: ARROZ" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Valor</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="valor" placeholder="Ej: 1500" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Tipo producto</label>
                        <div class="col-lg-6">
                            <select class="form-control" name="id_tipo">
                                {TIPOS_PRODUCTOS}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-4">
                            
                            <input type="submit" class="button" style="width:180px" value="Crear Producto"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        </div>
    </div>
