﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Pagina Inicio";
}

@section featured {

}





<div id="login" class="content-section">
    <!--crear empresa-->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="section-title">Crear empresa</h1>
            </div> <!-- /.col-md-12 -->

        </div> <!-- /.row -->
        <div class="well" style="max-width: 700px; margin: auto; background-color: #D8F6CE; ">
            <form class="bs-example form-horizontal" method="post" enctype="multipart/form-data" action="index.aspx?controller=Empresa&action=Agregar">
                <fieldset>
                    <legend>Información empresa:</legend>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Nit</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="nit" placeholder="Ej: 123456789" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Nombre</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="nombre" placeholder="Ej: Almacén YEP" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Teléfono</label>
                        <div class="col-lg-6">
                            <input type="number" class="form-control" name="telefono" placeholder="Ej: 123456789" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Dirección</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="direccion" placeholder="Ej: Cr 1 Cll 2 - 3" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Fax</label>
                        <div class="col-lg-6">
                            <input type="number" class="form-control" name="fax" placeholder="Ej: 123456789" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Email</label>
                        <div class="col-lg-6">
                            <input type="email" class="form-control" name="email" placeholder="Ej: yep@yep.com" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Ciudad</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="ciudad" placeholder="Ej: Florencia" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Departamento</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="departamento" placeholder="Ej: Caquetá" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Regimen</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="regimen" placeholder="Ej: Contribuyente" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Tipo empresa</label>
                        <div class="col-lg-6">
                            <select class="form-control" name="id_tipoempresa">
                                {TIPOS_EMPRESAS}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Logo</label>
                        <div class="col-lg-6">
                            <input name="logo" type="file" required />
                        </div>
                    </div>
                    <legend>Información dueño empresa:</legend>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Cédula</label>
                        <div class="col-lg-6">
                            <input type="number" class="form-control" name="identificacion" placeholder="Ej: 123456789" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Nombre</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="nombre_persona" placeholder="Ej: David Antury" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Fecha nacimiento</label>
                        <div class="col-lg-6">
                            <input type="text" class="fecha form-control" name="fecha_nacimiento" placeholder="DD/MM/AAAA" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Dirección</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="direccion_persona" placeholder="Ej: Cr 1 Cll 1 -3" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Teléfono</label>
                        <div class="col-lg-6">
                            <input type="number" class="form-control" name="telefono_persona" placeholder="Ej: 123456789" required>
                        </div>
                    </div>
                    <legend>Información usuario:</legend>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Usuario</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="usuario" placeholder="Ej: d.antury" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Contraseña</label>
                        <div class="col-lg-6">
                            <input type="password" class="form-control" name="contrasenia" placeholder="Ej: 123456789" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">E-mail</label>
                        <div class="col-lg-6">
                            <input type="email" class="form-control" name="correo_electronico" placeholder="david@antury.com" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Rol Usuario</label>
                        <div class="col-lg-6">
                            <select class="form-control" name="id_rol">
                                {ROLES_ACTUALES}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-4">
                           
                            <input type="submit" class="button" style="width: 180px" value="Crear empresa" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
      </div>
   </div>
