﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Pagina Inicio";
}

@section featured {

}




<div id="login" class="content-section">
    <!--crear proveedor-->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="section-title">Crear proveedor</h1>
            </div> <!-- /.col-md-12 -->

        </div> <!-- /.row -->
        <div class="well" style="max-width: 700px; margin: auto; background-color: #D8F6CE;">
            <form class="bs-example form-horizontal" method="post" action="index.aspx?controller=Proveedor&action=Agregar">
                <fieldset>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Nombre</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="nombre" placeholder="Ej: Almacén YEP" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Teléfono</label>
                        <div class="col-lg-6">
                            <input type="number" class="form-control" name="telefono" placeholder="Ej: 123456789" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Dirección</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="direccion" placeholder="Ej: Cr 1 Cll 2 - 3" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Email</label>
                        <div class="col-lg-6">
                            <input type="email" class="form-control" name="email" placeholder="Ej: yep@yep.com" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Ciudad</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="ciudad" placeholder="Ej: Florencia" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Departamento</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="departamento" placeholder="Ej: Caquetá" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Tipo empresa</label>
                        <div class="col-lg-6">
                            <select class="form-control" name="id_tipoproveedor">
                                {TIPOS_PROVEEDORES}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-4">
                            <input type="submit" class="button" style="width:190px" value="Crear Proveedor" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
   </div>
</div>