﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Pagina Inicio";
}

@section featured {

}





<div id="login" class="content-section">
    <!--crear tipo empresa-->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="section-title">Crear Tipo de Empresa</h1>
            </div> <!-- /.col-md-12 -->

        </div> <!-- /.row -->
        <div class="well text-center" style="max-width: 700px; margin: auto; background-color: #D8F6CE;">
            <form class="bs-example form-horizontal" action="index.aspx?controller=TipoEmpresa&action=Agregar" method="post">
                <fieldset>
                    <legend>Digite el nombre del tipo de empresa</legend>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Nombre</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control text-center" name="nombre" placeholder="Ej: local" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-4">
                            
                            <input type="submit" class="button text-center" style="width: 150px" value="Crear" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
      </div>
  </div>
        <h3 class="text-center">Tipo Empresas actuales</h3>
        <table class="table table-hover text-center" >
            <thead>
                <tr>
                    <td>Numero</td>
                    <td>Tipo de Empresa</td>
                </tr>
            </thead>
            @*<tbody>
               {TIPO_EMPRESAS_ACTUALES}
            </tbody>*@
        </table>
