﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Pagina Inicio";
}

@section featured {

}




<div id="login" class="content-section">
<!--crear tipo producto-->
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="section-title">Crear Tipo de Producto</h1>
                </div> <!-- /.col-md-12 -->

            </div> <!-- /.row -->
            <div class="well" style="max-width: 700px; margin: auto; background-color: #D8F6CE;">
                <form class="bs-example form-horizontal" action="index.aspx?controller=TipoProducto&action=Agregar" method="post">
                    <fieldset>
                        <legend>Digite el nombre del tipo de producto:</legend>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Nombre</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" name="nombre" placeholder="Ej: tecnologia" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-4">
                                <input type="submit" class="button text-center" style="width: 150px" value="Crear" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            </div>
</div>
    <h3>Tipo Productos actuales</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>#</td>
                <td>Tipo de Producto</td>
            </tr>
        </thead>
        <tbody>
            {TIPO_PRODUCTOS_ACTUALES}
        </tbody>
    </table>

