﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Pagina Inicio";
}

@section featured {

}




<div id="login" class="content-section">
    <!--gestionar producto-->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="section-title">Gestionar Proveedor</h1>
            </div> <!-- /.col-md-12 -->

        </div> <!-- /.row -->
        <div class="well" style="max-width: 700px; margin: auto; background-color: #D8F6CE;">
            <form class="bs-example form-horizontal" action="index.aspx?controller=Proveedor&action=Agregar" method="post">
                <fieldset>
                    <legend>Información del proveedor</legend>
                    <div class="form-group">
                        <label class="col-md-1 col-sm-6 control-label">Nit</label>
                        <div class="col-md-4 col-sm-6">
                            <input type="text" class="form-control" name="nit" placeholder="Ej: 1234" required>
                        </div>
                        <label class="col-md-1 col-sm-6 control-label">Nombre</label>
                        <div class="col-md-6 col-sm-6">
                            <input type="text" class="form-control" name="nombre" placeholder="Ej: Comercializadora Barrera " required>
                        </div>
                        <label class="col-md-1 col-sm-6 control-label">Telefono</label>
                        <div class="col-md-4 col-sm-6">
                            <input type="text" class="form-control" name="telefono" placeholder="Ej: 434 6678 " required>
                        </div>
                        <label class="col-md-1 col-sm-6 control-label">Dirección</label>
                        <div class="col-md-6 col-sm-6">
                            <input type="text" class="form-control" name="direccion" placeholder="Ej: barrio la primavera " required>
                        </div>

                        <label class="col-md-1 col-sm-6 control-label">Correo Electronico</label>
                        <div class="col-md-4 col-sm-6">
                            <input type="text" class="form-control" name="correo" placeholder="Ej: proveedor@hotmail.com " required>
                        </div>

                        <label class="col-md-1 col-sm-6 control-label">Ciudad</label>
                        <div class="col-md-6 col-sm-6">
                            <input type="text" class="form-control" name="ciudad" placeholder="Ej: Florencia " required>
                        </div>
                        <label class="col-md-1 col-sm-6 control-label">Departamento</label>
                        <div class="col-md-4 col-sm-6">
                            <input type="text" class="form-control" name="departamento" placeholder="Ej: Caqueta " required>
                        </div>

                        <label class="col-md-1 col-sm-6 control-label">Seleccione tipo de Proveedor:</label>
                        <div class="col-md-6 col-sm-6">
                            <select class="form-control" name="tipoproveedor" id="Select1">
                                <option value="-1">Seleccione tipo proveedor</option>
                                {TIPO_PROVEEDORES_ACTUALES}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-4">
                            <input type="submit" class="button" style="width: 150px" value="Guardar" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
     </div>
  </div>
        <h3>Proveedores actuales</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>#</td>
                    <td>nit</td>
                    <td>nombre</td>
                    <td>telefono</td>
                    <td>direccion</td>
                    <td>correo</td>
                    <td>ciudad</td>
                    <td>departamento</td>
                    <td>tipo de proveedor</td>
                </tr>
            </thead>
            <tbody>
                {CODIGOS_ACTUALES}
            </tbody>
        </table>
