﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Pagina Inicio";
}

@section featured {

}


<div id="login" class="content-section">
    <!--gestionar empresa-->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="section-title">Gestionar Empresa</h1>
            </div> <!-- /.col-md-12 -->

        </div> <!-- /.row -->
        <div class="well text-center" style="max-width: 800px; margin: auto; background-color: #D8F6CE;">
            <form class="bs-example form-horizontal" method="post">
                <fieldset>

                    <div class="form-group">
                        <label class="col-md-1 col-sm-6 control-label">Nit</label>
                        <div class="col-md-4 col-sm-6">
                            <input type="text" class="form-control" name="nit" placeholder="Ej: 1234" required>
                        </div>
                        <label class="col-lg-1 col-sm-6 control-label">Nombre</label>
                        <div class="col-md-6 col-sm-6">
                            <input type="text" class="form-control" name="nombre" placeholder="Ej: AutoServicio Barrera " required>
                        </div>
                        <label class="col-md-1 col-sm-6  control-label">Telefono</label>
                        <div class="col-md-4 col-sm-6">
                            <input type="text" class="form-control" name="telefono" placeholder="Ej: 434 6678 " required>
                        </div>
                        <label class="col-md-1 col-sm-6  control-label">Dirección</label>
                        <div class="col-md-6 col-sm-6">
                            <input type="text" class="form-control" name="direccion" placeholder="Ej: barrio la primavera " required>
                        </div>
                        <label class="col-md-1 col-sm-6 control-label">Fax</label>
                        <div class="col-md-4 col-sm-6">
                            <input type="text" class="form-control" name="fax" placeholder="Ej: 434 2156 " required>
                        </div>
                        <label class="col-md-1 col-sm-6  control-label">Correo </label>
                        <div class="col-md-6 col-sm-6">
                            <input type="text" class="form-control" name="correo" placeholder="Ej: empresa@hotmail.com " required>
                        </div>

                        <label class="col-md-1 col-sm-6  control-label">Ciudad</label>
                        <div class="col-md-4 col-sm-6">
                            <input type="text" class="form-control" name="ciudad" placeholder="Ej: Florencia " required>
                        </div>
                        <label class="col-md-14 col-sm-2 control-label">Departamento</label>
                        <div class="col-md-4 col-sm-6">
                            <input type="text" class="form-control" name="departamento" placeholder="Ej: Caqueta " required>
                        </div>

                        <label class="col-md-14 col-sm-2  control-label">Tipo:</label>
                        <div class="col-md-4 col-sm-6">
                            <select class="form-control" name="tipoempresa" id="Select1">
                                <option value="-1">Seleccione tipo empresa</option>
                                {TIPO_EMPRESAS_ACTUALES}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-4">
                            <input type="submit" class="button" style="width: 150px" value="Guardar" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
      </div>
    </div>
        <h3 class="text-center">Empresas actuales</h3>
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <td>#</td>
                    <td>nit</td>
                    <td>nombre</td>
                    <td>telefono</td>
                    <td>direccion</td>
                    <td>fax</td>
                    <td>correo</td>
                    <td>ciudad</td>
                    <td>departamento</td>
                    <td>tipo de empresa</td>
                </tr>
            </thead>
            @*<tbody class="text-center">
                {CODIGOS_ACTUALES}
            </tbody>*@
        </table>
