﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Pagina Inicio";
}

@section featured {

}




<div id="login" class="content-section">
<!--gestionar producto-->
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="section-title">Gestionar Producto</h1>
                </div> <!-- /.col-md-12 -->

            </div> <!-- /.row -->
            <div class="well" style="max-width: 700px; margin: auto; background-color: #D8F6CE;"> 
                <form class="bs-example form-horizontal" action="index.aspx?controller=Producto&action=Agregar" method="post">
                    <fieldset>
                        <legend>Información del Producto</legend>
                        <div class="form-group">
                            <label class="col-md-1 col-sm-6 control-label">Codigo</label>
                            <div class="col-md-4 col-sm-6">
                                <input type="text" class="form-control" name="codigo" placeholder="Ej: 1234" required>
                            </div>
                            <label class="col-md-1 col-sm-6 control-label">Nombre</label>
                            <div class="col-md-6 col-sm-6">
                                <input type="text" class="form-control" name="nombre" placeholder="Ej: computador portatil " required>
                            </div>
                            <label class="col-md-1 col-sm-6 control-label">Marca</label>
                            <div class="col-md-4 col-sm-6">
                                <input type="text" class="form-control" name="marca" placeholder="Ej: lenovo " required>
                            </div>
                            
                            <label class="col-md-1 col-sm-6  control-label">Precio unitario</label>
                            <div class="col-md-6 col-sm-6">
                                <input type="text" class="form-control" name="preciounitario" placeholder="Ej: 1.200.000 " required>
                            </div>
                            <label class="col-lg-3 control-label">Seleccione tipo de producto</label>
                            <div class="col-lg-6">
                                <select class="form-control" id="tipoproducto" name="tipoproducto">
                                    {TIPO_PRODUCTOS_ACTUALES}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-4">
                                
                                <input type="submit" class="button" style="width: 150px" value="Guardar" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
         </div>
</div>
    <h3 class="text-center">Productos actuales</h3>
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <td>#</td>
                <td>codigo</td>
                <td>nombre</td>
                <td>marca</td>
                <td>tipo</td>
                <td>precio unitario</td>
            </tr>
        </thead>
        @*<tbody>
            {CODIGOS_ACTUALES}
        </tbody>*@
    </table>
