﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Pagina Inicio";
}

@section featured {

}




<div id="login" class="content-section">
    <!--gestionar producto-->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="section-title">Gestionar Cliente</h1>
            </div> <!-- /.col-md-12 -->

        </div> <!-- /.row -->
        <div class="well" style="max-width: 700px; margin: auto; background-color: #D8F6CE;">
            <form class="bs-example form-horizontal" action="index.aspx?controller=Cliente&action=Agregar" method="post">
                <fieldset>
                    <legend>Información del Cliente</legend>
                    <div class="form-group">
                        <label class="col-md-1 col-sm-6 control-label">Nombres</label>
                        <div class="col-md-4 col-sm-6">
                            <input type="text" class="form-control" name="nombres" placeholder="Ej: Jorge David" required>
                        </div>
                        <label class="col-md-1 col-sm-6 control-label">Apellidos</label>
                        <div class="col-md-6 col-sm-6">
                            <input type="text" class="form-control" name="apellidos" placeholder="Ej: Antury " required>
                        </div>
                        <label class="col-md-1 col-sm-6 control-label">Cedula </label>
                        <div class="col-md-4 col-sm-6">
                            <input type="text" class="form-control" name="cedula" placeholder="Ej: 12345678 " required>
                        </div>
                        <label class="col-md-1 col-sm-6 control-label">Fecha</label>
                        <div class="col-md-6 col-sm-6">
                            <input type="text" class="form-control" name="fecha" placeholder="Ej: aaaa/mm/dd " required>
                        </div>
                        <label class="col-md-1 col-sm-6 control-label">Edad</label>
                        <div class="col-md-4 col-sm-6">
                            <input type="text" class="form-control" name="edad" placeholder="Ej: 21 " required>
                        </div>
                        

                        <label class="col-md-1 col-sm-6 control-label">Correo</label>
                        <div class="col-md-6 col-sm-6">
                            <input type="text" class="form-control" name="correo" placeholder="Ej: cliente@hotmail.com " required>
                        </div>

                        <label class="col-md-1 col-sm-6 control-label">Telefono</label>
                        <div class="col-md-4 col-sm-6">
                            <input type="text" class="form-control" name="telefono" placeholder="Ej: 434 7675 " required>
                        </div>
                        <label class="col-md-1 col-sm-6 control-label">Dirección</label>
                        <div class="col-md-6 col-sm-6">
                            <input type="text" class="form-control" name="direccion" placeholder="Ej: barrio la primavera " required>
                        </div>
                        <label class="col-md-1 col-sm-6 control-label">Ciudad</label>
                        <div class="col-md-4 col-sm-6">
                            <input type="text" class="form-control" name="ciudad" placeholder="Ej: Florencia " required>
                        </div>
                        <label class="col-md-1 col-sm-6 control-label">Departamento</label>
                        <div class="col-md-6 col-sm-6">
                            <input type="text" class="form-control" name="departamento" placeholder="Ej: Caqueta " required>
                        </div>
                        
                        <label class="col-md-1 col-sm-6 control-label">Profesion</label>
                        <div class="col-md-4 col-sm-6">
                            <input type="text" class="form-control" name="profesion" placeholder="Ej: ing de sistemas " required>
                        </div>

                        <label class="col-md-1 col-sm-6 control-label">Genero:</label>
                            <div class="col-md-6 col-sm-6">
                                <select class="form-control" name="genero" id="genero">
                                    <option value="-1">Seleccione genero</option>
                                    {GENEROS_ACTUALES}
                                </select>
                            </div>
                        <label class="col-md-1 col-sm-6 control-label">Tipo de cliente:</label>
                        <div class="col-md-4 col-sm-6">
                            <select class="form-control" name="tipocliente" id="Select1">
                                <option value="-1">Seleccione tipo cliente</option>
                                {TIPO_CLIENTES_ACTUALES}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-4">
                            <input type="submit" class="button" style="width: 150px" value="Guardar" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
      </div>
  </div>
        <h3>Clientes actuales</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>#</td>
                    <td>nombres</td>
                    <td>apellidos</td>
                    <td>c.c</td>
                    <td>fecha_nacimiento</td>
                    <td>edad</td>
                    <td>genero</td>
                    <td>telefono</td>
                    <td>direccion</td>
                    <td>ciudad</td>
                    <td>departamento</td>
                    <td>correo</td>
                    <td>profesion</td>
                    <td>tipo de cliente</td>
                </tr>
            </thead>
            <tbody>
                {CODIGOS_ACTUALES}
            </tbody>
        </table>
