﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Iniciar sesión";

    // Inicializar variables de página generales
    var email = "";
    var password = "";
    var rememberMe = false;

    var returnUrl = Request.QueryString["ReturnUrl"];
    if (returnUrl.IsEmpty())
    {
        // Algunos proveedores de inicio de sesión externo siempre requieren un valor URL devuelto
        returnUrl = Href("~/");
    }

    // Setup validation
    Validation.RequireField("email", "Especificar correo electronico.");
    Validation.RequireField("password", "Especificar contraseña.");
    Validation.Add("password",
        Validator.StringLength(
            maxLength: Int32.MaxValue,
            minLength: 6,
            errorMessage: "La contraseña debe tener al menos seis caracteres"));

    // Si esta es una solicitud POST, valide y procese los datos
    if (IsPost)
    {
        AntiForgery.Validate();
        // ¿Se trata de una solicitud de inicio de sesión externo?
        string provider = Request.Form["provider"];
        if (!provider.IsEmpty())
        {
            OAuthWebSecurity.RequestAuthentication(provider, Href("~/RegisterService", new { returnUrl }));
            return;
        }
        else if (Validation.IsValid())
        {
            email = Request.Form["email"];
            password = Request.Form["password"];
            rememberMe = Request.Form["rememberMe"].AsBool();

            if (WebSecurity.UserExists(email) && WebSecurity.GetPasswordFailuresSinceLastSuccess(email) > 4 && WebSecurity.GetLastPasswordFailureDate(email).AddSeconds(60) > DateTime.UtcNow)
            {
                Response.Redirect("~/AccountLockedOut");
                return;
            }

            // Intentar iniciar sesión mediante las credenciales suministradas
            if (WebSecurity.Login(email, password, rememberMe))
            {
                Context.RedirectLocal(returnUrl);
                return;
            }
            else
            {
                ModelState.AddFormError("El nombre de usuario y la contraseña proporcionados son incorrectos.");
            }
        }
    }
}


<div id="login" class="content-section">
    <!--registrar usuario-->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="section-title">Login</h1>
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->

            <form method="post">
                @AntiForgery.GetHtml()
                @* Si hay algún error de validación, mostrar un error *@
                @Html.ValidationSummary("El inicio de sesión no se realizó correctamente. Corrija los errores e inténtelo de nuevo.", excludeFieldErrors: true, htmlAttributes: null)

                
                    
                   
                        <fieldset class="col-md-12 text-center">
                            <label for="email" @if (!ModelState.IsValidField("email")) { <text> class="error-label" </text>    }>Correo electrónico</label>
                            <input type="text" id="email" style="width: 300px" placeholder="Correo electrónico" name="email" value="@email" @Validation.For("email") />
                            @* Escribir los errores de validación de nombre de usuario en la página *@
                            @Html.ValidationMessage("email")
                        </fieldset>
                        <fieldset class="col-md-12 text-center">
                            <label for="password" @if (!ModelState.IsValidField("password")) { <text> class="error-label" </text>     }>Contraseña</label>
                            <input type="password" id="password" style="width: 300px" placeholder="Contraseña" name="password" @Validation.For("password") />
                            @* Escribir los errores de validación de contraseña en la página *@
                            @Html.ValidationMessage("password")
                        </fieldset>
                        <fieldset class="col-md-12 text-center">
                            <label class="checkbox" for="rememberMe">¿Recordar cuenta?</label>
                            <input type="checkbox" id="rememberMe" name="rememberMe" value="true" checked="@rememberMe" />
                        </fieldset>


                
                            <fieldset class="col-md-12 text-center">
                                <input type="submit" class="button"  style="width: 150px" value="Iniciar sesión" />
                            </fieldset>
                        
                   
               
            </form>
                <div class="col-md-12 text-center" >
                    <p>
                        <a href="~/Register">¿No dispone de una cuenta?</a>
                        <a href="~/ForgotPassword">¿Olvidó su contraseña?</a>
                    </p>
                </div>
        </div>
    </div>



        <div class="col-md-12 text-center">
            <h2>Usar otro servicio para iniciar sesión.</h2>
            @RenderPage("~/_ExternalLoginsList.cshtml")
        </div>
<div><br /><br /><br /></div>


        @section Scripts {
            <script src="~/Scripts/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        }
