﻿@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}


@{
    

    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Registrarse";

    // Inicializar variables de página generales
    var email = "";
    var password = "";
    var confirmPassword = "";

    // Validación de la instalación
    Validation.RequireField("email", "Especificar correo electronico.");
    Validation.RequireField("password", "Debe escribir la contraseña.");
    Validation.Add("confirmPassword",
        Validator.EqualsTo("password", "Error al confirmar la contraseña"));
    Validation.Add("password",
        Validator.StringLength(
            maxLength: Int32.MaxValue,
            minLength: 6,
            errorMessage: "Error la contraseña debe tener minimo seis caracteres"));

    // Si esta es una solicitud  POST , valide y procese los datos
    if (IsPost) {
        AntiForgery.Validate();
        email = Request.Form["email"];
        password = Request.Form["password"];
        confirmPassword = Request.Form["confirmPassword"];

        // Validar la respuesta captcha del usuario
        // if (!ReCaptcha.Validate("PRIVATE_KEY")) {
        //     ModelState.AddError("recaptcha", "La respuesta captcha no es correcta");
        // }

        // Si toda la información es válida, crear una nueva cuenta
        if (Validation.IsValid()) {
            // Insertar un nuevo usuario en la base de datos
            var db = Database.Open("StarterSite");

            // Comprobar si el usuario ya existe
            var user = db.QuerySingle("SELECT Email FROM UserProfile WHERE LOWER(Email) = LOWER(@0)", email);
            if (user == null) {
                // Insertar correo electrónico en la tabla de perfiles
                db.Execute("INSERT INTO UserProfile (Email) VALUES (@0)", email);

                // Cree y asocie una nueva entrada en la base de datos de miembros.
                // Si la operación se realiza correctamente, siga procesando la solicitud
                try {
                    bool requireEmailConfirmation = !WebMail.SmtpServer.IsEmpty();
                    var token = WebSecurity.CreateAccount(email, password, requireEmailConfirmation);
                    if (requireEmailConfirmation) {
                        var hostUrl = Request.Url.GetComponents(UriComponents.SchemeAndServer, UriFormat.Unescaped);
                        var confirmationUrl = hostUrl + VirtualPathUtility.ToAbsolute("~/Confirm?confirmationCode=" + HttpUtility.UrlEncode(token));

                        WebMail.Send(
                            to: email,
                            subject: "Confirme la cuenta",
                            body: "Su código de confirmación es: " + token + ". Visit <a href=\"" + confirmationUrl + "\">" + confirmationUrl + "</a> para activar la cuenta."
                        );
                    }

                    if (requireEmailConfirmation) {
                        // Agradecer al usuario que se haya registrado e informarle de que recibirá un correo
                        Response.Redirect("~/Thanks");
                    } else {
                        // Retroceder a la página principal y salir
                        WebSecurity.Login(email, password);

                        Response.Redirect("~/");
                    }
                } catch (System.Web.Security.MembershipCreateUserException e) {
                    ModelState.AddFormError(e.Message);
                }
            } else {
                // El usuario ya existe
                ModelState.AddFormError("Email address is already in use.");
            }
        }
    }
}


<div id="login" class="content-section">
    <!--registrar usuario-->
    <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="section-title">Registrarse</h1>
                </div> <!-- /.col-md-12 -->

            </div> <!-- /.row -->
        <div class="row contact-form">
                <form method="post">
                    @AntiForgery.GetHtml()
                    @* Si existe al menos un error de validación, informar al usuario *@
                    @Html.ValidationSummary("No se creó la cuenta. Corrija los errores e inténtelo de nuevo.", excludeFieldErrors: true, htmlAttributes: null)

                    <fieldset class="col-md-12 text-center">
                        <label for="email" @if (!ModelState.IsValidField("email")) { <text> class="error-label" </text>                 }>Correo electrónico</label>
                        <input type="text" id="email" name="email" style="width: 300px" placeholder=" correo electrónico" value="@email" @Validation.For("email") required/>
                        @* Escribir los errores de validación del correo electrónico en la página *@
                        @Html.ValidationMessage("email")
                    </fieldset>

                    <fieldset class="col-md-12 text-center">
                        <label for="password" @if (!ModelState.IsValidField("password")) { <text> class="error-label" </text>                    }>Contraseña</label>
                        <input type="password" id="password" style="width: 300px" placeholder="Contraseña" name="password" @Validation.For("password") required/>
                        @* Escribir los errores de validación de contraseña en la página *@
                        @Html.ValidationMessage("password")
                    </fieldset>

                    <fieldset class="col-md-12 text-center">
                        <label for="confirmPassword" @if (!ModelState.IsValidField("confirmPassword")) { <text> class="error-label" </text>                     }>Confirmar contraseña</label>
                        <input type="password" id="confirmPassword" style="width: 300px" placeholder="Confirmar Contraseña" name="confirmPassword" @Validation.For("confirmPassword") required/>
                        @* Escribir los errores de validación de contraseña en la página *@
                        @Html.ValidationMessage("confirmPassword")
                    </fieldset>




                    <fieldset class="col-md-12 text-center">
                        <input type="submit" name="send" class="button"  style="width: 150px" value="Registrarse" />
                    </fieldset>

                </form>
            </div>
        </div>
  </div>      
        
    
  


















